.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 999;
    overflow-y: hidden;
}

.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    max-width: 900px;
    background-color: #fff;
    color: #596870;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
