.radio-row{
    display: flex;
    // justify-content: center;
    align-items: center
    padding-right: 15px;
    padding-left: 30px;
    padding-bottom: 25px;
    height: 38px;

    .radio-group{
        display: flex;
        flex-direction: row
        align-items: center;
        margin-right: 20px;    
        label{
            margin-left: 5px;
        }
    }
}

.bt-new{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    mat-icon{
        margin-right: 5px;
    }
}

.dialog-body{
    display: flex;
    flex-direction: row;
}

.emp-thumb{
    width: 100%;
}


.input-dep{
    display: flex;
    flex-wrap: wrap;
    .form-group{
        padding: 0;
        margin-right: 10px;
    }
}

.tab-content{
    button{
        height:40px;
        width: 100px;
    }
}

.delete-footer{
    justify-content: space-evenly;
    .bt{
        margin-left: 0px;
    }
}

.emp-thumb{
    max-height: 350px;
    max-width: 280px
    border: 1px solid darkgrey
}
// 